table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(var(--wp-admin-theme-color--rgb), 0.12);
}

th,
td {
  text-align: left;
  padding: 0.6rem 0.5rem;
  border-bottom: 1px solid rgba(var(--wp-admin-theme-color--rgb), 0.2);
}

tbody tr:hover {
  background: rgba(var(--wp-block-synced-color--rgb), 0.06);
}
